<div><br><br><br><br><br></div>
<div id="contactbackground">  
  <div id="container">
        <div>
            <label class="first">Name</label><label id="DOT1">:</label><label id="name">Rahul Kumar Singh</label><br><br><br>
            <label class="first">Phone</label><label id="DOT2">:</label><label id="phone">8877063469</label><br><br><br>
            <label class="first">Email</label><label id="DOT3">:</label><label id="email">rahulkumar9204670472&#64;gmail.com</label><br><br><br>
            <label class="first">Address</label><label id="DOT4">:</label><label id="address">Highly classified</label><br><br><br>
            <label class="first">Age</label><label id="DOT5">:</label><label id="age">Even more classified</label>
        </div>
    </div>
</div>