<html>
  <div><br><br><br><br></div>
  <div id="box">
    <section id="showcase">
      <div class="container">
        <h1>Welcome to the Travel {{name}}!<br> Here you will have an amazing memorizing trips.<br>Lets begin.<br> Lets plan your trip</h1>
      </div>
      <hr id="headerline">
    </section>
    
    <div class="container">
      <section id="main1">
        <h1>Welcome</h1>
        <p>Traveling is a journey through cultures, landscapes, and histories, enriching the mind with new perspectives. It fosters connections with people from diverse backgrounds, creating lasting memories and broadening horizons.</p>
      </section>
      <aside id="sidebar1">
        <p>It invites exploration of unfamiliar cuisines, arts, and traditions, deepening appreciation for global diversity. Traveling encourages adaptability and resilience in navigating new environments and challenges. It fosters a sense of gratitude for the beauty and wonders of our planet.</p>
      </aside>
    </div>
    <div class="container">
      <section id="main2">
        <h1>Why it is Important</h1>
        <p>Each destination unfolds unique experiences, sparking curiosity and a sense of adventure. It offers a break from routine, rejuvenating the spirit and inspiring creativity. Ultimately, traveling is a transformative exploration of the world and oneself.</p>
      </section>
      <aside id="sidebar2">
        <p>It provides opportunities for personal growth through stepping outside comfort zones and embracing uncertainty. Ultimately, traveling cultivates a sense of belonging to a global community, bridging distances and fostering understanding.</p>
      </aside>
    </div>
    <div><br><br><br></div>
  </div>
</html>